.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3.75rem;
  display: flex;
  align-items: center;
  /*background-color: #008000;*/
  color: white;
  font-weight: bold;
  font-size: 1.375rem;
}

.navbar img {
  margin: 0 1rem;
}

.navlinks {
  width: 80%;
  text-align: right;
}

.activePage {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0.5rem;
  font-size: large;
  font-weight: bold;
  transition: all 1s;
  height: 2rem;
}

a {
  padding: 10px;
  color: white;
  text-decoration: none;
}
