<div class="navbar">
  <img
    width="40"
    alt="Logo"
    src="https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-thumbnail/s3/0007/7033/brand.gif?itok=GOWAkJCd"
  />
  <span>Welcome to Earth Fate</span>
  <div class="navlinks">
    <!-- <a [routerLink]="['login']" routerLinkActive="activePage">Login </a> -->
    <a [routerLink]="['home']" routerLinkActive="activePage">Home </a>
    <a [routerLink]="['battle']" routerLinkActive="activePage">Battle </a>
    <a [routerLink]="['evolution']" routerLinkActive="activePage">Evolution </a>
    <!-- <a [routerLink]="['login']" routerLinkActive="activePage">Leave Game </a> -->
  </div>
</div>
